* {
    margin: 0;
    padding: 0;
    background-color: #477c59;
    font-family: sans-serif;
}

header nav {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}

header nav a {
    padding: 25px;
    color: #ffffff;
    font-size: 1.4em;
    text-decoration: none;
}

.page1 {
    header nav display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;


}

.page1 h1,
h2 {
    color: #ff5e00;
}

.personne1 {
   text-align: center;
    font-weight: bold;
    
}


footer  {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}

footer p {
    padding: 25px;
    color: #ffffff;
    font-size: 1.4em;
    text-decoration: none;
}


.personne1 h1 {
    color: #ffffff;
    font-size: 40px;
    
}



