* {
    margin: 0;
    padding: 0;
    background-color: #477c59;
    font-family: sans-serif;
}

header nav {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}

header nav a {
    padding: 25px;
    color: #ffffff;
    font-size: 1.4em;
    text-decoration: none;
}

.page1 {
    header nav display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;


}

.page1 h1,
h2 {
    color: #ff5e00;
}

.personne1 {
   text-align: center;
    font-weight: bold;
}


footer  {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}

footer p  {
    padding: 25px;
    color: #ffffff;
    font-size: 1.4em;
    text-decoration: none;
    text-align: center;
}

footer p a {
    background-color: #fd1313;
  padding: 17px 65px;
  font-size: 76px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.83;
}


.personne1 h1 {
    color: #ffffff;
    font-size: 40px;
    
}



/* Css page contact */

form {
    margin-top: 50px;
    color: #fff;
   display: flex;
   justify-content: center;
}

#name {
    width: 600px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    background: transparent;
    text-align: center;
}

#mail {
    width: 600px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    background: transparent;
    text-align: center;
}

#msg {
    width: 600px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    background: transparent;
   text-align: center;
}

input{
    height: 45px;
    
}

.form  ::placeholder {
    color: #0019f7;
}




/* Css de la page mentions légale */

h1 {
    margin: 100px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    
}

p {
    text-align: center;
    color: #ffffff;
}